body{
    background-color: rgb(255, 255, 255);
    background-image: url("moon.jpg");
    background-size: cover;
    text-align: center;
    font-size: 12.5px;
    font-family: Microsoft YaHei;
}
#top-left{
    position: absolute;
    left: 0;
    top: 0; 
    height: 60px;
    padding-left: 23px;
}
#top-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    padding-right: 23px;
}
.set{
    color: white;
    position: relative;
    right: 28px;
}
a{
    color: white;
    display: inline-block;
    margin-right: 22px;
    margin-top: 21.6px;
    text-decoration: none;     
}
.sign_in{
    color: white;
    background-color: #4a6ef1;
    margin-top: 17.6px;
    margin-right: 18px;
    padding: 4px 12px;
    border-radius: 7px;
}
.mid_img{
    margin-top: 77px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
#mid {
    width: 77px;
    height: 77px;
}
input{
    margin-top: 28px;
    border: 1px rgb(150, 121, 121) solid;
    border-radius: 12px;
    height: 45px;
    width: 555px;
}
